* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    overflow: hidden;

}

#particulas {
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.titulo {
    color: #FFFFFFFF;
    font-size: 140px;


}

.subtitulo {
    color: #FFFFFFFF;
    font-size: 35px;

}

.secao-informacao {
    color: #FFFFFFFF;
    cursor: pointer;
    margin-left: 3%;
    margin-top: 5%;
    font-size: 70px;

}


.container-apresentacao {
    margin-left: 35%;
    position: relative;
    bottom: 200px;
}



.paragrafo-apresentacao {
    color: #FFFFFFFF;
    font-size: 30px;


}

#conteudo .apresentacao {
    margin-left: 35%;
    position: relative;
    bottom: 250px;
}


#conteudo .apresentacao p {
    color: #FFFFFF;
    font-size: 30px;
}


#conteudo .projetos p {
    color: #FFFFFF;
    margin-left: 35%;
    font-size: 45px;
    margin-top: -130px;

}


#conteudo .habilidades {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: -13rem;

}


#conteudo .habilidades :nth-child(1) {
    height: 150px;
    margin-right: -6%;
}

#conteudo .habilidades :nth-child(2) {
    height: 150px;
    margin-right: -3%;
}


#conteudo .habilidades :nth-child(3) {
    height: 150px;

}

#conteudo .habilidades :nth-child(4) {
    height: 150px;

}

#conteudo .habilidades :nth-child(5) {
    height: 150px;


}

#conteudo .habilidades :nth-child(6) {
    height: 150px;

}

#conteudo .habilidades :nth-child(7) {
    height: 150px;


}

#conteudo .habilidades :nth-child(8) {
    height: 150px;

}



#conteudo .contato p {
    color: #FFFFFF;
    font-size: 50px;
    margin-left: 35%;
    position: relative;
    top: -300px;

}

.contact-linkedin {
    font-size: 60px;
    margin-left: 38%;
    position: relative;
    position: relative;
    top: -300px;
    color: #C8A2C8;

}


.contact-instagram {
    font-size: 65px;
    margin-left: 38%;
    position: relative;
    top: -300px;
    color: #C8A2C8;
}


.contact-email {
    font-size: 63px;
    margin-left: 38%;
    position: relative;
    top: -300px;
    color: #C8A2C8;

}


@media (max-width:768px) {

    .titulo{
 font-size: 3rem;

    }


    .secao-informacao {
        font-size: 3rem;
    }


    .paragrafo-apresentacao {

        font-size: 2rem;
        position: relative;
        top: 16rem;
        right: 7rem;

    }

    #conteudo .apresentacao p {
        font-size: 2rem;
        position: relative;
        top: 16rem;
        right: 7rem;
    }


    #conteudo .projetos p {
        font-size: 3rem;
        position: relative;
        top: 16rem;
        right: 7rem;

    }

    #conteudo .habilidades {
        margin-top: 20%;
        position: relative;
        left: -60px;
   
    }


    #conteudo .habilidades :nth-child(1) {
        position: relative;
        left: 80px;

    }


    #conteudo .habilidades :nth-child(2) {
        position: relative;
        left: 30px;

    }

    #conteudo .contato {

        margin: 0 auto;
        margin-top: 50%;
        margin-left: -17rem;

    }

    #conteudo .contato p {
        font-size: 3rem;


    }


    .contact-linkedin {

        font-size: 3rem;

    }


    .contact-instagram {
        font-size: 3rem;
    }


    .contact-email {
        font-size: 3rem;

    }



}




@media (max-width:430px) {

    .titulo {
        font-size: 2rem;

    }

    .secao-informacao {
        font-size: 2rem;
    }

    .paragrafo-apresentacao {
        font-size: 1.500rem;
        position: relative;
        top: 15rem;
        right: 5rem;
    }

    #conteudo .apresentacao p {
        font-size: 1.400rem;
        margin-top: 300px;
        position: relative;
        left: -70px;
    }

    #conteudo .projetos p {
        margin: 0 auto;
        margin-top: 55%;
        font-size: 2rem;

    }


    #conteudo .habilidades {
        margin-top: 20%;

    }


    #conteudo .habilidades :nth-child(1) {
        height: 3rem;
        max-width: 100%;

    }


    #conteudo .habilidades :nth-child(2) {
        height: 3rem;
        max-width: 100%;
    }

    #conteudo .habilidades :nth-child(3) {

        height: 3rem;
        max-width: 100%;
    }

    #conteudo .habilidades :nth-child(4) {
        height: 3rem;
        max-width: 100%;


    }


    #conteudo .habilidades :nth-child(5) {
        height: 3rem;
        max-width: 100%;

    }


    #conteudo .habilidades :nth-child(6) {

        height: 3rem;
        max-width: 100%;
    }



    #conteudo .habilidades :nth-child(7) {
        height: 3rem;
        max-width: 100%;
    }



    #conteudo .habilidades :nth-child(8) {
        height: 3rem;
        max-width: 100%;
    }

    #conteudo .contato {

        margin: 0 auto;
        margin-top: 90%;
        margin-left: -13rem;

    }

    #conteudo .contato p {
        font-size: 2rem;


    }


    .contact-linkedin {

        font-size: 2rem;

    }


    .contact-instagram {
        font-size: 2rem;
    }


    .contact-email {
        font-size: 1.800rem;

    }

}

@media (max-width:414px) {

    .titulo {
        font-size: 1.6rem;

    }

    .subtitulo {
        font-size: 1.3rem;


    }


    .secao-informacao {
        font-size: 2rem;
    }


    .paragrafo-apresentacao {
        font-size: 1.900rem;
        margin-left: 120px;
        position: relative;
        top: -30px;

    }

    .container-apresentacao {
        margin: 0 auto;
        margin-top: 75%;

    }


    #conteudo .apresentacao p {
        font-size: 1.500rem;
        margin-left: 120px

    }

    #conteudo .apresentacao {
        margin: 0 auto;
        margin-top: 75%;
    }

    #conteudo .habilidades :nth-child(1) {
        height: 4rem;
        max-width: 100%;
        position: relative;
        left: 3rem;

    }


    #conteudo .habilidades :nth-child(2) {
        height: 4rem;
        max-width: 100%;
        position: relative;
        left: 1rem;
    }

    #conteudo .habilidades :nth-child(3) {

        height: 4rem;
        max-width: 100%;

    }

    #conteudo .habilidades :nth-child(4) {

        height: 4rem;
        max-width: 100%;

    }


    #conteudo .habilidades :nth-child(5) {
        height: 4rem;
        max-width: 100%;

    }


    #conteudo .habilidades :nth-child(6) {

        height: 4rem;
        max-width: 100%;
    }



    #conteudo .habilidades :nth-child(7) {
        height: 4rem;
        max-width: 100%;
    }



    #conteudo .habilidades :nth-child(8) {
        height: 4rem;
        max-width: 100%;
    }

    #conteudo .habilidades {
        margin: 0 auto;
        justify-content: center;
        margin-top: 7rem;
        margin-left: -3rem;

    }


    #conteudo .projetos p {
        margin: 0 auto;
        margin-top: 60%;
        font-size: 2rem;

    }

    #conteudo .contato {

        margin: 0 auto;
        margin-top: 90%;
        margin-left: -13rem;

    }

    #conteudo .contato p {
        font-size: 2rem;


    }


    .contact-linkedin {

        font-size: 2rem;

    }


    .contact-instagram {
        font-size: 2rem;
    }


    .contact-email {
        font-size: 1.800rem;

    }

}



@media (max-width:390px) {


    .paragrafo-apresentacao{

        font-size: 1.500rem;
        margin-left: 125px;

    }


    #conteudo .apresentacao p {
        font-size: 1.430rem;

    }

    .contact-linkedin {

        font-size: 1.875rem;

    }


}

@media (max-width:375px) {


    .paragrafo-apresentacao {
        font-size: 1.300rem;
        margin-left: 120px;
        position: relative;
        top: -30px;
    }




    #conteudo .apresentacao p {
        font-size: 20px;
        margin-left: 120px;
        position: relative;
        top: -30px;

    }

    .contact-linkedin {

        font-size: 1.900rem;

    }


    .contact-instagram {
        font-size: 1.900rem;
    }


    .contact-email {
        font-size: 1.700rem;

    }

    #conteudo .contato p {
        font-size: 1.900rem;


    }
}
